// Based on the color variables found in config.scss

$colors-list: (
    (white, $white),
    (black, $black), 
    (blue, $blue),
    (grey1, $grey1),
    (grey2, $grey2), 
    (green, $green)
);

@each $color-name, $color in $colors-list {
    .#{$color-name}{ 
      background-color: $color;
    }
    .txt-#{$color-name}{
      color: $color;
    }
}