// Typography Mixins
// --------------------------------------------------
@mixin typography($font-size){
  $base-line-height: $font-size * $ratio;
  $margin: $base-line-height;
  body{
    font-size: $font-size;
    line-height: ($font-size * $ratio);
  }
  h1, .h1 {
    font-size: ((($font-size * $ratio) * $ratio) * $ratio);
    line-height: ($font-size * $ratio) * 3;
    margin-top: $margin * 2;
    margin-bottom: $margin;
  }

  h2, .h3 {
    font-size: (($font-size * $ratio) * $ratio);
    line-height: ($font-size * $ratio) * 2;
    margin-top: $margin;
    margin-bottom: $margin;
  }

  h3, .h3 {
    font-size: $font-size * $ratio;
    line-height: ($font-size * $ratio);
    margin-top: $margin;
    margin-bottom: $margin;
  }
  h4, .h4 {
    font-size: $font-size;
    line-height: ($font-size * $ratio);
    margin-top: $margin;
    margin-bottom: $margin;
  }
  p, ul, ol, pre, table, blockquote{
    margin-top: $margin;
    margin-bottom: $margin;
  }
}

$ratio: 1.618; // Golden Ratio
@media (max-width: 299px){
  @include typography(12px);
}
@media (min-width: 300px){
  @include typography(14px);
}
@media(min-width: 600px){
  @include typography(15px);
}
@media(min-width: 800px){
  @include typography(16px);
}
@media(min-width: 1000px){
  @include typography(19px);
}
@media(min-width: 1200px){
  @include typography(21px);
}
@media(min-width: 1400px){
  @include typography(23px);
}
@media(min-width: 1600px){
  @include typography(25px);
}

// Sample HTML + Body Styles
///////////////////////////////////////////////////
// html {
//     font-size: 100%;
//     -webkit-text-size-adjust: 100%;
//     -ms-text-size-adjust: 100%;
//     -webkit-font-smoothing: antialiased !important;
//     text-rendering: optimizelegibility;
//     -moz-osx-font-smoothing: grayscale;
// }
// body{
//   font-family: 'Helvetica Neue', sans-serif;
//   color: rgb(33,33,33);
//   margin: 0 auto 2em;
// }